@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-black: #0c0c0c;
  --color-main: #004051;
  --color-main-rgb: rgba(0, 64, 81, .5);
  --color-second: #001836;

  
}

div {
    display: block;
    /* Outros estilos que podem estar interferindo */
  }
  

html {
    scroll-behavior: smooth;
    font-size: 10px;
    background: var(--color-black);
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-main-rgb);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color-black);

  z-index: 5000;

  transition: all .75s;
}

.loader > img {
  width: 180px;
}

.loader > h1 {
  /* margin: 3rem; */
  color: var(--color-white);

  text-align: center;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.section-hidden {
  opacity: 0;
}

.section-show {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(15px);
  animation: scroll-show 2s ease forwards;
}

.section-show-project {
  opacity: 0;
  transform: translateY(100%);
  filter: blur(15px);
  animation: scroll-show-project 2s ease forwards;
}

/*****DELAY DE TRANSIÇÕES*****/
.box-about :nth-child(2).section-show{
  animation-delay: 200ms;
}
.box-about :nth-child(3).section-show{
  animation-delay: 300ms;
}
.box-about :nth-child(4).section-show{
  animation-delay: 500ms;
}
.box-about :nth-child(5).section-show{
  animation-delay: 600ms;
}

@media (max-width: 1024px) {
  .box-about *.section-show{
    animation-delay: 0ms;
  }
}

@keyframes scroll-show {
  100% {opacity: 1;
    transform: translateX(0);
    filter: blur(0px);
  }
}
@keyframes scroll-show-project {
  100% {opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}

/*****************************/

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 70px;

  padding: 15px 30px;
  position: sticky;
  top: 0;

  background: transparent;
  transition: all .3s ease-out;

  box-shadow: 0px 0px 0px 0px transparent;

  z-index: 1000;
}

.burguer {
    display: none;
    cursor: pointer;
}

.burguer div{
    width: 30px;
    height: 2px;
    background: var(--color-white);
    margin: 8px;
    transition: all .3s ease;
    position: relative;
}

.header-title {
    text-decoration: none;
}

.header-title h1 {
    color: var(--color-white);

    font-size: 2rem;
    transition: opacity .3s ease;
}

.navbar {
    width: 100%;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}

.navbar-links li {
    list-style: none;
    margin: 1rem;
}

.navbar h3 {
    display: none;
}

.navbar-geral {
  display: flex;
  justify-content: center;
  align-self: center;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  margin: 0 1.5rem;
}

.language img {
  width: 2.5rem;
  border-radius: 50%;

  filter: grayscale(100%);

  transition: .5s ease;
}

.language a:hover img {
  filter: grayscale(0%)
}

.navbar-links li a {
    text-decoration: none;
    color: var(--color-white);

    font-size: 1.4rem;
    font-weight: 700;

    margin: 0px 0px 1rem 0px;

    transition: opacity .3s ease;
}

.navbar-links li a:hover {
    opacity: .8;
}

.header-title h1:hover {
    opacity: .8;
}

@media (max-width: 560px) {

    .navbar {
        display: flex;
        width: 0px;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0px;
        background: #191919;
        height: calc(100vh - 70px);
        transition: all .6s ease;
        visibility: hidden;
        overflow-y: hidden;

        z-index: 1000;
    }

    .navbar-links {
        display: block;
        height: 100%;
    }

    .navbar-links li{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--color-black);
    }
    
    .burguer {
        display: block;
    }

    .navbar h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        color: var(--color-white);
    }

    .navbar-geral.active .navbar {
        width: 100%;
        visibility: visible;
        overflow-y: auto;
    }

    .navbar-geral.active .burguer div:nth-child(2) {
      transform: rotate(360deg);
      background: transparent;
    }
    .navbar-geral.active .burguer div:nth-child(1) {
      transform: rotate(135deg);
      top: 10px;
    }
    .navbar-geral.active .burguer div:nth-child(3) {
      transform: rotate(-135deg);
      top: -10px;
    }
}

@media (min-width: 1840px) {
    .header-title h1 {
        font-size: calc(1vw + .8rem);
    }

    .navbar {
        max-width: 50vw;
    }

    .navbar-links li {
        margin: 1rem;
    }

    .navbar-links li a {
        font-size: calc(1vw + .3rem);
    }
}
/* End Header */

#person {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    background: var(--color-black);
}

.person-content{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background: var(--color-black);
}

.person-name h1 {
    padding: 0px 4px;
    color: transparent;

    position: relative;
    width: fit-content;

    font-size: calc(2vw + 1.5rem);
    line-height: calc(3vw + 1.8rem);

    animation: written_text .5s ease forwards;
}

.person-name h1 span, .name.animacao-slim span {
    position: absolute;
    top: 0;
    left: 0;

    width: 0px;
    height: 100%;
    background: var(--color-second);

    animation: written_text_box 1s ease;
    animation-delay: .5s;
}

.name.animacao-rober span{
  animation: written_text_box_reverse 3s ease;
  animation-direction: alternate;
}

.name.animacao-rober::before {
  content: 'Slim Shady!!';
}
.name.animacao-slim::before {
  content: 'João Roberto';
}
.name.animacao-end::before {
  content: '';
}

.person-name h1:nth-child(1) span {
    animation-delay: .5s;
}
.person-name h1:nth-child(2) span {
    animation-delay: 1.5s;
}
.person-name h1:nth-child(3) span {
  animation-delay: 2.5s;
}

.person-name h1:nth-child(1) {
    animation-delay: 1s;
}
.person-name h1:nth-child(2) {
    animation-delay: 2s;
}
.person-name h1:nth-child(3) {
    animation: written_text_name .5s ease;
    animation-delay: 3s;
    transition: color .5s ease;
}

.person-name {
    margin-top: 11rem;
    transition: all .5 ease;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    margin-top: 2rem;
}

.contact {
    display: flex;

    align-items: center;
    flex-direction: row;
}

.contact li {
    display: flex;
    align-items: center;

    position: relative;

    margin: 10px;
    padding: 10px;

    list-style: none;
}

.contact li a i{
    font-size: 30px;
    text-decoration: none;
    color: var(--color-white);

    transition: color .3s ease, transform .3s ease;
}

.contact li a i:hover{
  color: var(--color-main);
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 376px) {
  .person-name {
    padding: 0px 10px;
  }

  .contact-content {
    padding: 0px 10px;
  }

  .contact-content h3 {
    margin-left: 10px;
  }

  .contact {
    margin-top: 10px;
  }

  .contact li {
    margin: 0px;
  }

  .contact li a i {
    font-size: calc(3.5vw + 0.5rem);
  }
}


/* sm -> md */
@media (min-width: 377px) and (max-width: 768px) {
  .person-name {
    padding: 0px 10px;
  }

  .stack-content {
    padding: 0px 15px;
  }

  .contact-content h3 {
    margin-left: 10px;
  }

  .contact {
    margin-top: 10px;
  }

  .contact li {
    margin: 0px;
  }

  .contact li img {
    width: calc(3.2vw + 0.5rem);
  }
}


.person-background {
    height: 100vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    flex-direction: column;


    background-image: url(./img/223_database.gif);
    background-size: cover;
    background-position: top center;

    z-index: 1;

    transition: background-image .5s ease;
}

.person-background::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: -1;

    background: 
        linear-gradient(90deg, transparent 30%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 65%, var(--color-black));
}

.wrapper-profile-photo {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
    margin: 20px 15px;

    border-radius: 50%;
    
    background: 
        radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
        radial-gradient(#000 68%, transparent 0),
        linear-gradient(to top right, var(--color-second) 0%, var(--color-main) 100%);
    
}

.profile-photo {
    width: calc(10vw + 10rem);
    height: calc(10vw + 10rem);
    border-radius: 50%;
    background-image: url(./img/1711139827147_7b50u3_2_0_edit.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image .6s ease;
}

.mode {
  position: fixed;
  left: 3rem;
  bottom: 3rem;
  
  background-color: var(--color-black);
  border-radius: 15px;
  border: 2px solid var(--color-main);

  z-index: 5;
}

.mode i {
    font-size: calc(1.5vw + 1rem);
    color: var(--color-white);

    margin: calc(1.2vw + 1.2rem) calc(1vw + 0.5rem);
    filter: brightness(.8);
    transition: all .3s ease;
}

.mode i:hover {
    transform: scale(1.15);
    filter: brightness(1);
    cursor: pointer;
}


@media (max-width: 1440px) and (orientation: landscape) {
  .profile-photo {
    height: 45vh;
    width: 45vh;
  }
}

@media (max-width: 375px) {
  .profile-photo {
    height: 15vh;
    width: 15vh;
  }
}

@media (min-width: 1440px) {
  .profile-photo {
    height: 25vw;
    width: 25vw;
    max-width: initial;
  }
}

/* About */
#about {
    height: auto;
    width: 100%;
    background: var(--color-black);
  
    display: flex;
    color: var(--color-white);
  }
  
  .background-about {
    height: 100vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    flex-direction: column;


    background-image: url(./img/back-azul.png);
    background-size: cover;
    background-position: top center;

    transition: background-image .5s ease;
  
  }
  
  .img-wrapper {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  
    height: 100%;
    width: 100%;
  
    background:
      linear-gradient(.25turn, transparent 30%, var(--color-black)),
      linear-gradient(.5turn, transparent 30%, var(--color-black)),
      linear-gradient(1turn, transparent 65%, var(--color-black));
  
  }
  
  .box-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    width: 50%;
  
    padding: 3rem;
    margin: 6rem 0rem;
  }
  
  .section-subtitle h2 p {
    display: inline-block;
    font-size: calc(1.4vw + 1.2rem);
  }
  
  .section-subtitle h2 p span {
    padding: 3px 5px;
    border-radius: 4px;
  
    color: var(--color-black);
    background: var(--color-white);
  }

  .section-subtitle h2 p::before {
    content: "💻";
  }
  .cube-mode .section-subtitle h2 p::before {
    content: "🧊";
  }
  .art-mode .section-subtitle h2 p::before {
    content: "🎨";
  }
  
  .box-about h3 {
    margin: 3rem;
    font-size: calc(.8vw + .8rem);
  }
  
  .box-about h3 p {
    display: inline-block;
  
    width: fit-content;
    padding: 2px 4px;
    border-radius: 4px;
  
    color: var(--color-black);
    background: var(--color-main);
  }
  
  .box-about h4 {
    margin: 1rem 3rem;
    font-size: calc(.8vw + .5rem);
  }
  
  .box-about h4 p {
    display: inline;
    padding: 2px 4px;
  
    color: var(--color-main);
  }
  
  .button-cta {
    display: flex;
  
    max-width: 190px;
    margin: 4rem 3rem;
  }
  
  .button-cta a {
    display: inline-block;
  
    padding: calc(0.2vw + 0.8rem) calc(2vw + 0.8rem);
    margin-bottom: 3rem;
  
    font-size: calc(.7vw + .55rem);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;
    color: var(--color-black);
    background: var(--color-white);
    text-align: center;
    text-decoration: none;
  
  
    border-radius: 10px;
    cursor: pointer;
}

.button-cta a:hover {
    transition: filter .3s ease;
    filter: brightness(.8);
}
@media (max-width: 1440px) and (orientation: portrait) {
  .background-about {
    background-position: top center;
  }
}
/* sm */
@media (max-width: 375px) {
    .box-about {
        padding: 1rem
    }

    .section-subtitle p {
        font-size: 2rem;
    }

    .box-about h3 {
        margin: 2rem 1rem;
    }

    .box-about h4 {
        margin: 1rem;
    }

}

@media (min-width: 376px) and (max-width: 768px) {
    .box-about {
        padding: 1.3rem;
    }

    .section-subtitle p {
        font-size: 2rem;
    }

    .box-about h3 {
        margin: 1.5rem 1rem;
    }

    .box-about h4 {
        margin: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .box-about {
        padding: 1.8rem;
    }

    .section-subtitle p {
        font-size: 2.5rem;
    }

    .box-about h3 {
        margin: 2rem 1rem;
    }

    .box-about h4 {
        margin: 1.5rem;
    }
}
/* End About */

#projects {
    height: auto;
    width: 100%;
    background: var(--color-black);

    display: flex;
    flex-direction: column;

    min-height: 700px;

    overflow: clip;
    
    transition: all 2s ease; 
}

.projects-title h2 {
    margin: 60px 3rem 3rem 3rem;
    padding: 1rem;

    font-size: 3rem;
    color: var(--color-white);
}

/* .wrapper-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;

    height: 500px;

} */

.card-project {
    /* width: 320px; */
    /* height: 460px; */
    display: flex;

    height: 100%;
    width: 100%;

    padding: 30px 20px 20px;
    /* margin: 0px 10px; */

    background: var(--color-white);

    align-items: center;
    flex-direction: column;

    border-radius: 20px;

    position: relative;

    z-index: 1;
}

.swiper {
    height: 100%;
    width: 100%;
    max-width: 1020px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    margin-top: 2rem;

    height: 500px;
}


.card-project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 40%;
    width: 100%;

    background: var(--color-second);
    border-radius: 20px 20px 0 0;

    z-index: -1;

    transition: background .3s ease;
}

/* .content-project {
    height: 100%;
    width: 100%;
 

    display: flex;
    flex-direction: column;

    z-index: 1;
} */
  
  /* .wrapper-projects {
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-direction: row;
  
    height: 500px;
  
    margin-top: 2rem;
  } */
  
  .container-projects {
    height: 100%;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper {
    height: 500px;
    width: 100%;
    max-width: 1020px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
    height: 500px;
  
    margin-top: 2rem;
    padding: 0px 20px;
  }
  
  .card-project {
    /* width: 320px; */
    /* height: 450px; */
  
    height: 100%;
    width: 100%;
  
    padding: 30px 20px 20px;
    /* margin: 0px 10px; */
  
    position: relative;
    background: var(--color-white);
  
    display: flex;
    align-items: center;
    flex-direction: column;
  
    border-radius: 20px;
  
    z-index: 1;
  
  }
  
  .card-project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  
    height: 40%;
    width: 100%;
  
    background: var(--color-second);
    border-radius: 20px 20px 0px 0px;
  
    z-index: -1;
  }
  
  /* .content-project {
    height: 100%;
    width: 100%;
  
    display: flex;
    flex-direction: column;
  
    z-index: 1;
  } */
  
  .image-project {
    max-height: 240px;
    max-width: 250px;
  
    height: 100%;
    width: 100%;
  
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    
    border: 4px solid var(--color-second);
  
    margin: 0 auto;
  }
  
  .image-project a div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./img/projects/project-games/rapboy.PNG);

    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid var(--color-white);
  
    transition: transform .3s ease-out, background-image .3s ease-out;
    cursor: pointer;
  }

  .swiper-slide:nth-child(1) div a div {
    background-image: url(./img/projects/project-games/rapboy.PNG);
  }
  .swiper-slide:nth-child(2) div a div {
    background-image: url(./img/projects/project-games/horror.PNG);
  }
  .swiper-slide:nth-child(3) div a div {
    background-image: url(./img/projects/project-games/minecraft.PNG);
  }
  .swiper-slide:nth-child(4) div a div {
    background-image: url(./img/projects/project-games/pacman.PNG);
  }
  .swiper-slide:nth-child(5) div a div {
    background-image: url(./img/projects/project-games/team_fortress.PNG);
  }

  .image-project div:hover {
    transform: scale(1.1);
  }

  .swiper-slide:nth-child(3) div a div:hover {
    background-image: url(./img/projects/project-games/unknown_2024.06.13-22.31.gif);
  }
  .swiper-slide:nth-child(4) div a div:hover {
    background-image: url(./img/projects/project-games/pacmangif.gif);
  }
  .swiper-slide:nth-child(5) div a div:hover {
    background-image: url(./img/projects/project-games/team_fortress.gif);
  }

  
  .card-project span {
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.7rem;
  
    margin: .75rem auto .5rem auto;
  }
  
  .card-project p {
    color: #3d3d4b;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0rem .75rem;
  }
  
  .cta-project {
    width: 200px;
    margin: auto auto 15px auto;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .cta-project a {
    padding: 5px 16px;
  
    font-size: 1.25rem;
    color: var(--color-white);
    background: var(--color-second);
  
    border-radius: 10px;
  
    text-decoration: none;
  
    transition: opacity .3s ease;
  }
  
  .cta-project a:hover {
    opacity: .7;
  }
  
  @media (max-width: 375px) {
    .swiper-slide span {
      font-size: 1.5rem;
    }
  
    .swiper-slide p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 1000px) {
    .swiper {
      max-width: 700px;
    }
  }
  
  @media (max-width: 700px) {
    .swiper {
      max-width: 350px;
    }
  }
  
  @media (min-width: 1840px) {
    .projects-title h2 {
      font-size: calc(1.4vw + 1.8rem);
    }
  
    .swiper {
      max-width: calc(30vw + 15rem + 30%);
      height: calc(19vw + 22.5rem);
    }
  
    .image-project {
      max-width: calc(10vw + 11rem);
      max-height: calc(10vw + 10rem);
    }
  
    .card-project span {
      font-size: calc(1vw + .25rem);
      margin: 0.5vw auto 0.5vw;
    }
  
    .card-project p {
      font-size: calc(.7vw + .2rem);
    }
  
    .cta-project {
      width: auto;
    }
  
    .cta-project a {
      padding: 1rem 2rem;
      font-size: 0.8vw;
      margin-right: 1vw;
    }
  }
/* Fim do Projetos */

#skills {
  width: 100%;
  background: var(--color-black);

  display: flex;
  flex-direction: column;

  overflow: hidden;
  
  transition: all 2s ease;
}

#skills.skills-active{
  max-height: none;
}

.skills-all {
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: top;

  transition: transform 1s ease;
}

.skills-box {
  width: 100%;
  height: 100%;
}

#skills.skills-active .skills-all{
  transform: translateX(-50%);
}

.skills-title h2 {
  margin: 60px 3rem 3rem 3rem;
  padding: 1rem;

  font-size: 3rem;
  color: var(--color-white);
}

.skills-content {
  display: flex;
  flex-direction: column;

  justify-items: center;
  align-items: center;

  margin: 3rem;
}

.skills-content h3 {
  color: var(--color-white);
  font-size: calc(.4vw + 1.2rem);

  border-bottom: 2px solid var(--color-white);

  margin: 3rem;
}

.skills-container {
  height: 10rem;
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: row-reverse;

  list-style: none;

  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;

  background: #191919;
  border-radius: 10px;

  transition: all .2s ease;
}

.skills-container:hover {
  box-shadow: 0px 5px 9px 0px var(--color-main);
}

.skills-container h2 {
  color: var(--color-white);
  font-size: calc(.4vw + 1rem);
  font-weight: normal;
}

.icons-skills {
  width: 100%;
  max-width: 70vw;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.icons-skills > div {
  flex: 1 1 35rem;
}

.icons-skills li svg{
  width: 50px;
  fill: var(--color-white);

  margin: 0 15px 0 0px;
}

.skills-container:nth-child(6) svg{
  border-radius: 5px;
}

.skills-box i {

  color: var(--color-white); 

  font-size: calc(1.2vw + 1.8rem); 
  background: #191919;

  padding: 1.5rem;

  margin-left: 90%;
  margin-bottom: 1.5rem;

  border-radius: 50%; 
  
  transition: .3s ease;
}

.skills-box i:hover {
  box-shadow: 0px 5px 9px 0px var(--color-main);
}

@media (min-width: 1840px) {
  .skills-title h2 {
    font-size: calc(1.4vw + 1.8rem);
  }
}

@media (max-width: 1054px) {
  /* #skills {
    max-height: 1524px;
  } */
}

@media (orientation: portrait) {
  .skills-box i {
    margin-left: calc(48% - 1.5rem);
  }
  /* #skills {
    max-height: 1500px;
  } */
}

.others-skills-box {
  width: 100%;
}

.others-skills-content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.others-skills-content h3 {
  display: flex;
  align-items: center;

  color: var(--color-white);
  font-size: calc(.4vw + 1.2rem);
}

.others-skills-content i {
  display: flex; 
  align-items: center;
  justify-content: center;

  color: var(--color-white); 

  font-size: calc(.8vw + 1.3rem); 
  margin: 1.5rem 1.5rem 1.5rem -4rem;
  
  transition: .3s ease;
}

.others-skills-content h3 i:hover {
  transition: opacity .3s ease;
  opacity: .6;
}

.others-skills {
  width: 100%;
  max-width: 70vw;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center
}

.others-skills > div {
  flex: 1 1 35rem;
}

.others-skills-container {
  height: 40rem;
  width: 100%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;

  list-style: none;

  align-items: center;
  justify-content: top;
  margin: 1rem;
  padding: 3rem 2rem;

  background: #191919;
  border-radius: 10px;

  transition: all .2s ease;
}

.others-skills-container li{
  display: flex;
  margin: 0 0 2rem 0; 
}

.others-skills-container h3{
  font-size: calc(.4vw + 1rem);
}

.text-others-skill {
  overflow-y: auto;
}
.others-skills-container p{ 
  font-size: calc(.5vw + .7rem);
  color: var(--color-white);
}

.text-others-skill::-webkit-scrollbar{
  width: 5px;
}

.text-others-skill::-webkit-scrollbar-track {
  background: transparent;
}

.others-skills-container li i{
  font-size: 4rem;
  margin-left: 0;
  color: var(--color-main);

}

@media (max-width: 768px) {
  .others-skills-container {
    height: 35rem
  }
}
@media (max-width: 500px) {
  .others-skills-container {
    height: 28rem
  }
  .text-others-skill {
    overflow-y: auto;
  }
}

@media (orientation: portrait) and (min-width: 501px){
  .text-others-skill {
    overflow-y: visible;
  }
}

/* Fim das Skills */
#contacts {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    height: 40vh;
  
    margin: 3vw 0vw 5vw;
  
    background: var(--color-black);
  
    color: var(--color-white)
  }
  
  .contact-icon-content h2 {
    margin: 3rem 3rem 3rem 0rem;
    padding: 1rem 1rem 1rem 0rem;
  
    font-size: 3rem;
    color: var(--color-white);
  }
  
  .contact-icons-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .contact-icon-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    margin: 0rem 3rem;
    padding: 1rem;
  }
  
  .contact-icon {
    height: 40px;
    width: 40px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-right: 2rem;
  
    background: var(--color-white);
    padding: 1rem;
    border-radius: 50%;
  }
  
  .contact-icon i {
    font-size: 2rem;
    color: var(--color-main);
  }
  
  .contact-info span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .contact-info p {
    margin: .25rem 0rem;
  }
  
  .contact-info a {
    display: block;
    margin: .25rem 0rem;
  
    text-decoration: none;
    color: var(--color-white);
  }
  
  .contact-info a:hover {
    transition: color .3s ease;
    color: var(--color-main);
  }
  
  
  @media (min-width: 1840px) {
    .contact-icon-content h2 {
      font-size: calc(1.4vw + 1.8rem);
    }
  
    .contact-icon {
      width: 3vw;
      height: 3vw;
    }
  
    .contact-icon i {
      font-size: 1vw;
    }
  
    .contact-info span {
      font-size: 1.1vw;
    }
  
    .contact-info p {
      font-size: .7vw;
    }
  
    .contact-info a {
      font-size: .7vw;
    }
  }
/* End Contacts */

#footer {
    height: auto;
    width: 100%;

    padding: calc(3vw + 1rem) 0vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;

    background: #191919;
}
  
.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    color: var(--color-white);

}
  
@media (min-width: 1840px) {
    .container-footer h2 {
        font-size: calc(1vw + .2rem);
    }

    .container-footer h3 {
        font-size: .8vw;
    }
}
  

@keyframes written_text {
    /* 100% {
        color: var(--color-white);
    } */
    from { color: transparent; }
    to { color: var(--color-white); }
}
@keyframes written_text_name {
    /* 100% {
        color: var(--color-main);
        transition: all .3s ease;
    } */
    from { color: transparent; }
    to { color: var(--color-main); }
}
@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes written_text_box_reverse {
    20%  {left: 0; width: 100%;}
  40%  {left: 100%; width: 0px;}
  60%  {left: 100%; width: 0px;}
  80%  {left: 0; width: 100%;}
  /* 100% {left: 0; width: 0px;} */
  }