@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #0c0c0c;
    --color-pink: #d12f7a;
    --color-blue: #073fcc;
    --color-purple: #5f01ac;
}
div {
    display: block;
    /* Outros estilos que podem estar interferindo */
  }
  

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#person {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    background: var(--color-black);
}

.person-content{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background: var(--color-black);
}

.person-content div h1 {
    padding: 0px 4px;
    color: transparent;

    position: relative;
    width: fit-content;

    font-size: 4.5rem;
    line-height: 6rem;

    animation: written_text .5s ease forwards;
}

.person-content div h1 span {
    position: absolute;
    top: 0;
    left: 0;

    width: 0px;
    height: 100%;
    background: var(--color-purple);

    animation: written_text_box 1s ease;
    animation-delay: .5s;
}

.person-content div h1:nth-child(1) span {
    animation-delay: .5s;
}
.person-content div h1:nth-child(2) span {
    animation-delay: 1.5s;
}
.person-content div h1:nth-child(3) span {
    animation-delay: 2.5s;
}

.person-content div h1:nth-child(1) {
    animation-delay: 1s;
}
.person-content div h1:nth-child(2) {
    animation-delay: 2s;
}
.person-content div h1:nth-child(3) {
    animation: written_text_name .5s ease forwards;
    animation-delay: 3s;
}

.person-name {
    margin-top: 11rem;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    margin-top: 2rem;
}

.contact {
    display: flex;

    align-items: center;
    flex-direction: row;
}

.contact ul li {
    display: flex;
    align-items: center;

    position: relative;

    margin: 10px;
    padding: 10px;

    list-style: none;
}

.contact ul li img{
    width: 25px;
    height: auto;

    transition: transform .3s ease;
}

.contact ul li img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.person-background {
    height: 100vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    flex-direction: column;


    background-image: url(./img/drive1.png);
    background-size: cover;
    background-position: top center;

    z-index: 1;
}

.person-background::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: -1;

    background: 
        linear-gradient(90deg, transparent 30%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 65%, var(--color-black));
}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
    margin: 20px 15px;

    border-radius: 50%;
    background: 
        radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
        radial-gradient(#000 68%, transparent 0),
        linear-gradient(to top right, var(--color-purple) 0%, #ff1493 100%);
}

.profile-photo {
    width: 100%;
    border-radius: 50%;
}

.mode img {
    width: 40px;
    height: 40px;

    margin: 10px;
    filter: brightness(.8);
    transition: all .3s ease;
}

.mode img:hover {
    transform: scale(1.2);
    filter: brightness(1);
    cursor: pointer;
}
/* About */
#about {
    height: 100vh;
    width: 100%;
    background: var(--color-black);

    display: flex;
    color: var(--color-white);
}

.background-about {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    height: 100%;
    width: 100%;

    position: relative;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background: 
        linear-gradient(90deg, transparent 30%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 65%, var(--color-black));
}

.img-wrapper img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.box-about {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 50%;

    padding: 3rem;
}

.section-subtitle h2 p {
    display: inline-block;
    font-size: 3rem;
}

.section-subtitle h2 p:nth-child(2) span {
    padding: 3px 5px;
    border-radius: 4px;

    color: var(--color-black);
    background: var(--color-white);
}

.box-about h3 {
    margin: 3rem;
    font-size: 2rem;
}

.box-about h3 p{
    display: inline-block;

    width: fit-content;
    padding: 2px 4px;
    border-radius: 4px;

    color: var(--color-black);
    background: var(--color-blue);
}

.box-about h4 {
    margin: 1rem 3rem;
    font-size: 1.5rem;
}

.box-about h4 p {
    display: inline;
    padding: 2px 4px;

    color: var(--color-blue);
    font-size: bold;
    font-weight: 1.75rem;
}

.button-cta {
    display: flex;

    max-width: 190px;
    margin: 4rem 3rem;
}

.button-cta button {
    display: inline-block;

    width: 100%;
    max-width: 172px;

    padding: 10px;
    margin-bottom: 3rem;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;

    border-radius: 10px;
    cursor: pointer;
}

.button-cta button:hover {
    transition: all .3s ease;
    filter: brightness(.8)
}
/* End About */

#projects {
    height: 100vh;
    width: 100%;
    background: var(--color-black);

    display: flex;
    flex-direction: column;
}

.projects-title h2 {
    margin: 3rem;
    padding: 1rem;

    font-size: 3rem;
    color: var(--color-white);
}

.wrapper-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;

    height: 500px;

}

.card-project {
    width: 320px;
    height: 460px;

    padding: 30px 20px 20px;
    margin: 0px 10px;

    background: var(--color-white);

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 20px;

    position: relative;
}

.card-project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 40%;
    width: 100%;

    background: var(--color-purple);
    border-radius: 20px 20px 0 0;
}

.content-project {
    height: 100%;
    width: 100%;
 

    display: flex;
    flex-direction: column;

    z-index: 1;
}

.image-project {
    height: 240px;
    width: 250px;

    overflow: hidden;
    border-radius: 30px;

    border: 4px solid var(--color-purple);

    margin: 0 auto;

    position: relative;
}

.image-project img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 30px;
    border: 2px solid var(--color-white);

    transition: transform .3s ease-out;
    cursor: pointer;
}

.image-project a img:hover {
    transform: scale(1.1);
}

.content-project span {
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.7rem;

    margin: .75rem auto .5rem auto;
}

.content-project p {
    color: #3d3d4b;
    font-weight: bold;
    font-size: 1.1rem;

    margin: 0rem .75rem;
}

.cta-project {
    width: 200px;
    margin: auto auto 15px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-project a {
    padding: 5px 16px;

    font-size: 1.25rem;
    color: var(--color-white);
    background: var(--color-purple);

    border-radius: 10px;
    text-decoration: none;

    transition: opacity .3s ease;
}

.cta-project a:hover {
    opacity: .7;
}
/* Fim do Projetos */

#contacts {
    display: flex;
    flex-direction: column;

    height: 40vh;
    width: 100%;

    background: var(--color-black);
}

.contact-icon-content h2 {
    margin: 3rem 3rem 3rem 0rem;
    padding: 1rem 1rem 1rem 0rem;

    font-size: 3rem;
    color: var(--color-white);
}

.contact-icons-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;

    color: var(--color-white);
}

.contact-icon-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0rem 3rem;

    padding: 1rem;
}

.contact-icon {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;

    background: var(--color-white);
    padding: 1rem;
    border-radius: 50%;
}

.contact-icon i {
    font-size: 2rem;
    color: var(--color-blue);
}

.contact-info span {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-info p {
    margin: .25rem 0rem;
}

.contact-info a {
    display: block;
    margin: .25rem 0rem;

    text-decoration: none;
    color: var(--color-white);
}

.contact-info a:hover {
    transition: color .3s ease;
    color: var(--color-blue);
}

@keyframes written_text {
    100% {
        color: var(--color-white);
    }
}
@keyframes written_text_name {
    100% {
        color: var(--color-pink);
    }
}
@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}